.column {
    float: left;
    width: 45%;
  }

  .row{
    padding-left: 50px;
    padding-top: 20px;
  }

  /* Clear floats after the columnt */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }