{% extends "bootstrap/base.html" %}

{% block title %}
Tweet Basic Stats ~ Admin Page
{% endblock title %}

{% block content %}

<div class = "container">

    <!-- Logout Button-->
    <form action="{{ url_for('logout') }}" method="POST">
        <div class ="row d-flex justify-content-end">
            <input type = submit name = "logout" value = "Logout">
        </div>
    </form>

    <!-- Heading -->
    <div class ="row d-flex justify-content-center">
        <h1>Admin Tools</h1>
    </div>


    <!-- Message for when 0 tweets are returned-->
    <div class = "row d-flex justify-content-center">
        <h2>
            {% with messages = get_flashed_messages() %}
               {% if messages %}
                <strong>
                     {% for message in messages %}
                        {{ message }}
                     {% endfor %}
                </strong>
               {% endif %}
            {% endwith %}
        </h2>
    </div>

    <div class = "card-deck">

        <!-- Clear out previous output pages buttons and input fields -->
        <div class = "card mb-4">
            <div class = "card-body text-center">
                <form action="{{ url_for('deletePages') }}" method="POST">
                    <div class="help-tip">
                        <p>Clear out previous output stored pages that were created before the date below.</p>
                    </div> 
                    <br>
                    <h3>Clear Filtered Pages Older than:</h3>
                    <div class="row">
                        Date:
                        &nbsp&nbsp       
                        <input type = "date" name = "input_date" value ="">
                    </div>
                    <br>
                    <div class="row">
                        Time:     
                        &nbsp&nbsp  
                        <input type = "time" name = "input_time" value ="">
                    </div>
                    <br>
                    <input type = "submit" name = "delete_pages" value = "Delete Pages">
                </form>
            </div>
        </div>

        <!-- Tweet query filters to populate the table with tweets to be deleted -->
        <div class = "card mb-4">
            <div class = "card-body text-center">          
                <form action="{{ url_for('stats') }}" method="POST">
                    <div class="help-tip">
                        <p>Query for tweets based on the limits below to populate a table with results that can be selected for deletion.</p>
                    </div>  
                    <br>  
                    <h3>Clear Tweets</h3>
                    <br>
                    <h5>Search Options</h5>
                    <div class="row">
                        Term:
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        <input type = "text" name = "input_term" value ="">
                    </div>
                    <br>
                    <div class="row">
                        Time:       
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        <input type = "time" name = "input_time" value ="">
                    </div>
                    <br>
                    <div class="row">
                        Date:       
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        <input type = "date" name = "input_date" value ="">
                    </div>
                    <br>
                    <div class="row">
                        Location:   
                        &nbsp
                        <input type = "location" name = "input_location" value ="">
                    </div>
                    <br>
                    <div class="row">
                        Profile:
                        &nbsp&nbsp&nbsp&nbsp&nbsp
                        <input type = "profile" name = "input_profile" value ="">
                    </div>
                    <br>
                    <input type = "submit" value = "Generate Matching Results to Select Tweets" class = "button">
                </form>
            </div>
        </div>
    </div>


{% endblock content %}

{% block scripts %}

<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Datatables -->
<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.11.0/js/mdb.min.js"></script>
<!-- Moment.js -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>

{% endblock scripts %}

{% block styles %}

<!-- Font Awesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<!-- Google Fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
<!-- Bootstrap core CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.11.0/css/mdb.min.css" rel="stylesheet">

<!-- Help button -->
<style>
    .help-tip{
        position: absolute;
        top: 18px;
        right: 18px;
        text-align: center;
        background-color: #BCDBEA;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        font-size: 14px;
        line-height: 26px;
        cursor: default;
    }

    .help-tip:before{
        content:'?';
        font-weight: bold;
        color:#fff;
    }

    .help-tip:hover p{
        display:block;
        transform-origin: 100% 0%;

        -webkit-animation: fadeIn 0.3s ease-in-out;
        animation: fadeIn 0.3s ease-in-out;

    }

    .help-tip p{    /* The tooltip */
        display: none;
        text-align: left;
        background-color: #1E2021;
        padding: 20px;
        width: 300px;
        position: absolute;
        border-radius: 3px;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
        right: -4px;
        color: #FFF;
        font-size: 13px;
        line-height: 1.4;
    }

    .help-tip p:before{ /* The pointer of the tooltip */
        position: absolute;
        content: '';
        width:0;
        height: 0;
        border:6px solid transparent;
        border-bottom-color:#1E2021;
        right:10px;
        top:-12px;
    }

    .help-tip p:after{ /* Prevents the tooltip from being hidden */
        width:100%;
        height:40px;
        content:'';
        position: absolute;
        top:-40px;
        left:0;
    }

    /* CSS animation */

    @-webkit-keyframes fadeIn {
        0% { 
            opacity:0; 
            transform: scale(0.6);
        }

        100% {
            opacity:100%;
            transform: scale(1);
        }
    }

    @keyframes fadeIn {
        0% { opacity:0; }
        100% { opacity:100%; }
    }
</style>

{% endblock styles %}