{% extends "bootstrap/base.html" %}

{% block title %}
Tweet Basic Stats Inputs
{% endblock title %}

{% block content %}
<div class="container">
    <div class = "row d-flex justify-content-center">
        <h2 style="text-align: center;">Tweet Basic Stats</h2>
    </div>
    <form action="{{ url_for('stats') }}" method="POST">
        <div class = "card-deck">
            <div class = "card mb-4">
            <!--Creates the first column for choosing type of statistics-->
                <div class = "card-body text-center">
                    <div class = "col-lg-12">    
                        <h3> Choose what type of statistics to run:</h3 > 
                        <input type = "radio" name = "statistics" id = "basic" checked=true value = "basic"> Basic<br>
                        <input type = "radio" name = "statistics" id = "descriptive" value = "descriptive"> Descriptive<br>
                        <input type = "submit" name = "run_stats" value = "Run">
                        <br>
                        <br>
                        <br>
                    </div>
                    </div>
                </div>  
            <div class = "card mb-4">
                <div class = "card-body">          
                <!--Creates the second column for filtering-->
                    <div class = "col-lg-6">
                        <h3>Filters</h3>
                        <a class="btn btn-primary" data-toggle="collapse" href="#collapse_filter" id = collapse_button role="button" aria-expanded="false" aria-controls="collapseExample">Expand</a>
                        <div class="collapse" id="collapse_filter">
                            <div class="row">
                                Term:       
                                <input type = "text" name = "input_term" value ="">
                            </div>
                            <br>
                            <div class="row">
                                Time:       
                                <input type = "time" name = "input_time" value ="">
                            </div>
                            <br>
                            <div class="row">
                                Date:       
                                <input type = "date" name = "input_date" value ="">
                            </div>
                            <br>
                            <div class="row">
                                Location:   
                                <select name = "input_location" id ="location_options">
                                    {% for type in dynamicLocations%}
                                        <option value = ""></option>
                                        <option value = "{{type}}">{{type}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <br>
                            <div class="row">
                                Profile:
                                <select name = "input_profile" id ="profile_options">
                                    <option value = ""></option>
                                    {% for type in dynamicProfiles%}
                                        <option value = "{{type}}">{{type}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
        <div class ="row d-flex justify-content-center">
            <div class = "card mb-4">
                <div class = "card-body text-center">
                    <form action="{{ url_for('id') }}" method="POST">
                        <!-- Creates the load old output row -->
                        <h3> Load a Previous Output:</h3>
                        <input type = "text" name = "old_output" value = "">
                        <br>
                        <br>
                        <input type = "submit" name = "load_old_output" value = "Load">
                  </form>
                </div>
            </div>
        </div>

        <div class ="row d-flex justify-content-right">
            <div class = "card mb-4">
                <div class = "card-body text-center">
                    <form action="{{ url_for('adminlogin') }}" method="POST">
                        <!-- Creates the load old output row -->
                        <input type = "submit" name = "admin_login" value = "Login in as Adminstrator">
                  </form>
                </div>
            </div>
        </div>
</div>


{% endblock content %}

{% block scripts %}
<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.11.0/js/mdb.min.js"></script>


<!-- Toggles the expand state for collapse menu-->
<script>
    $('#collapse_filter').on('hidden.bs.collapse', function () {
    $('#collapse_button').text("Expand")
    })
</script>

<!--Toggles the collapse state for collapse menu-->
<script>
    $('#collapse_filter').on('show.bs.collapse', function () {
    $('#collapse_button').text("Collapse")
    })
</script>
{% endblock scripts %}

{% block styles %}
<!-- Font Awesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<!-- Google Fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
<!-- Bootstrap core CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.11.0/css/mdb.min.css" rel="stylesheet">
{% endblock styles %}
