{% extends "bootstrap/base.html" %}

{% block title %}
Tweet Basic Stats Output ~ Descriptive
{% endblock title %}

{% block content %}
<div class="container">

    <!-- Heading-->
    <div class = "row d-flex justify-content-center">
        <h2 style="text-align: center;">Data (Descriptive Statistics)</h2>
    </div>
    
    <div class = "card-deck"> 

        <!--Card for generated output-->
        <div class = "card mb-4">
            <div class = "card-body">
                <form action="{{ url_for('index') }}" method="POST">
                    <div class="help-tip">
                        <p>Use the ID below to reload this results in the future.</p>
                    </div>
                    <br>                  
                    <h5>Generated Output ID:</h5>
                    <br>
                    <label id = output_id>{{ _id }}</label>
                    <br>
                    <input type = "submit" name = "return" value = "Return to Input">
                </form>
            </div>
        </div>

        <!--Card for filters-->
        <div class = "card mb-4">
            <div class = "card-body">
                <div class="help-tip">
                    <p>Below are the filters that your results are limited by.</p>
                </div>
                <br>         
                <h5>Filters Used:</h4>
                <br>
                <label id = "filters_used">Term: XXXXXXXXXXXXXX
                    <br>Time: 00:00:00XX
                    <br>Location: XXXXXXXXXXXXXX
                    <br>Profile: XXXXXXXXXXXXXX
                </label>
           </div>
        </div>

    </div>
    
    <!--Card for save data to file-->
    <div class ="row d-flex justify-content-center">
        <div class = "card mb-4">
            <div class = "card-body text-center">
                <label>Custom File Name for Saving: </label>
                <input type = "text" id = "file_name" value = ""><br>
            </div>
        </div>
    </div>

    <!--Datatable for descriptive stastitics-->
    <table id="table_tweets2" class="table table-striped table-bordered table-sm " cellspacing="0" width="100%">
        <thead>
            <tr>
                <th class="th-sm">Dataset
                </th>
                <th class="th-sm">Stats Based On
                </th>
                <th class="th-sm">Total
                </th>
                <th class="th-sm">Mean
                </th>
                <th class="th-sm">Median
                </th>
                <th class="th-sm">Mode
                </th>
                <th class="th-sm">Absolute Deviation
                </th>
                <th class="th-sm">Variance
                </th>
                <th class="th-sm">Quartile 1
                </th>
                <th class="th-sm">Quartile 3
                </th>
                <th class="th-sm">Range
                </th>
                <th class="th-sm">Outlier Count
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>xxxxxxxxx</td>
                <td>xxxxxxxxx</td>
                <td>xxxxxxxxx</td>
                <td>xxxxxxxxx</td>
                <td>xxxxxxxxx</td>
                <td>xxxxxxxxx</td>
                <td>xxxxxxxxx</td>
                <td>xxxxxxxxx</td>
                <td>xxxxxxxxx</td>
                <td>xxxxxxxxx</td>
                <td>xxxxxxxxx</td>
                <td>xxxxxxxxx</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th>Dataset
                </th>
                <th>Stats Based On
                </th>
                <th>Total
                </th>
                <th>Mean
                </th>
                <th>Median
                </th>
                <th>Mode
                </th>
                <th>Absolute Deviation
                </th>
                <th>Variance
                </th>
                <th>Quartile 1
                </th>
                <th>Quartile 3
                </th>
                <th>Range
                </th>
                <th>Outlier Count
                </th>
            </tr>
        </tfoot>
    </table> 

</div>

{% endblock content %}

{% block scripts %}

<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Datatables -->
<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.11.0/js/mdb.min.js"></script>

<!--Datatable-->
<script>
    $(document).ready(function () {
    $('#table_tweets2').DataTable({
    "scrollX": true,
    "scrollY": 200,
    });
    $('.dataTables_length').addClass('bs-select');
    });
</script>

{% endblock scripts %}

{% block styles %}
<!-- Font Awesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<!-- Google Fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
<!-- Bootstrap core CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.11.0/css/mdb.min.css" rel="stylesheet">
<!-- Datatables -->
<link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet">

<!--Datatable styles-->
<style>
    .table_tweets2Wrapper{
    max-width: 600px;
    margin: 0 auto;
    }
    #table_tweets2 th, td {
    white-space: nowrap;
    }
    table.dataTable thead .sorting:after,
    table.dataTable thead .sorting:before,
    table.dataTable thead .sorting_asc:after,
    table.dataTable thead .sorting_asc:before,
    table.dataTable thead .sorting_asc_disabled:after,
    table.dataTable thead .sorting_asc_disabled:before,
    table.dataTable thead .sorting_desc:after,
    table.dataTable thead .sorting_desc:before,
    table.dataTable thead .sorting_desc_disabled:after,
    table.dataTable thead .sorting_desc_disabled:before {
    bottom: .5em;
    }
</style>

<!--Help button-->
<style>
    .help-tip{
        position: absolute;
        top: 18px;
        right: 18px;
        text-align: center;
        background-color: #BCDBEA;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        font-size: 14px;
        line-height: 26px;
        cursor: default;
    }

    .help-tip:before{
        content:'?';
        font-weight: bold;
        color:#fff;
    }

    .help-tip:hover p{
        display:block;
        transform-origin: 100% 0%;

        -webkit-animation: fadeIn 0.3s ease-in-out;
        animation: fadeIn 0.3s ease-in-out;

    }

    .help-tip p{    /* The tooltip */
        display: none;
        text-align: left;
        background-color: #1E2021;
        padding: 20px;
        width: 300px;
        position: absolute;
        border-radius: 3px;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
        right: -4px;
        color: #FFF;
        font-size: 13px;
        line-height: 1.4;
    }

    .help-tip p:before{ /* The pointer of the tooltip */
        position: absolute;
        content: '';
        width:0;
        height: 0;
        border:6px solid transparent;
        border-bottom-color:#1E2021;
        right:10px;
        top:-12px;
    }

    .help-tip p:after{ /* Prevents the tooltip from being hidden */
        width:100%;
        height:40px;
        content:'';
        position: absolute;
        top:-40px;
        left:0;
    }

    /* CSS animation */

    @-webkit-keyframes fadeIn {
        0% { 
            opacity:0; 
            transform: scale(0.6);
        }

        100% {
            opacity:100%;
            transform: scale(1);
        }
    }

    @keyframes fadeIn {
        0% { opacity:0; }
        100% { opacity:100%; }
    }
</style>

{% endblock styles %}