{% extends "bootstrap/base.html" %}

{% block title %}
Tweet Basic Stats Output ~ Basic
{% endblock title %}

{% block content %}
<div class = "row">
    <h1 style="text-align: center;">Data (Basic Statistics)</h1>
</div>

<div class = "row">
    <div class = "column">
        Generated Output ID:
        <br>
        <label id = output_id>000-000-000</label>
        <br>
        <input type = button name = "return" value = "Return to Input">    
    </div>

    <div class = "column">
        This is for overall data
        <br>
        <label>DATA</label>
    </div>

    <div class = "column">
        This is for graph
        <br>
        <img width = 50px height = 50px>
    </div>

    <div class = "column">
        this is for filters used
        <br>
        <label>Filters</label>
    </div>
</div>

<div class = row>
    <table>
        <tr>
            <th>heading 1</th>
            <th>heading 2</th>
            <th>heading 3</th>
            <th>heading 4</th>
            <th>heading 5</th>
            <th>heading 6</th>
            <th>heading 7</th>
            <th>heading 8</th>
        </tr>
        <tr>

        </tr>
    </table>
</div>

<div class = "row">
    <div class = "column">
        View specific Tweet area
    </div>
    <div class = "column">
        Save to file area
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
{{super()}}
{% endblock scripts %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output_basic_styles.css') }}">
{{super()}}
{% endblock styles %}